
:host{
    border:1px solid black;
    display:block;
    height:70px;
    margin:10px;
}

.imageclass{
    height: 50px;
    width: 50px;
    float: left;
    margin:10px;
}
.textclass{
    float: left;
    margin:10px;
}
